PerfilesSA.Web/Connected Services/ServiceReference/ServicioDepartamento.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64299/ServicioDepartamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" />
  <xs:element name="InsertarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" minOccurs="0" name="departamento" nillable="true" type="q1:Departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" minOccurs="0" name="InsertarDepartamentoResult" nillable="true" type="q2:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" minOccurs="0" name="departamento" nillable="true" type="q3:Departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" minOccurs="0" name="ActualizarDepartamentoResult" nillable="true" type="q4:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" minOccurs="0" name="CambiarEstadoDepartamentoResult" nillable="true" type="q5:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDepartamentoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDepartamentoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" minOccurs="0" name="ObtenerDepartamentoPorIdResult" nillable="true" type="q6:Departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosLosDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosLosDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" minOccurs="0" name="ObtenerTodosLosDepartamentosResult" nillable="true" type="q7:ArrayOfDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDepartamentosActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDepartamentosActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" minOccurs="0" name="ObtenerDepartamentosActivosResult" nillable="true" type="q8:ArrayOfDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>