PerfilesSA.Web/Connected Services/ServiceReference/ServicioDepartamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioDepartamento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64299/ServicioDepartamento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64299/ServicioDepartamento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64299/ServicioDepartamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioDepartamento_InsertarDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDepartamento" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_InsertarDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_ActualizarDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDepartamento" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_ActualizarDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_CambiarEstadoDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstadoDepartamento" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_CambiarEstadoDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstadoDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_ObtenerDepartamentoPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentoPorId" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_ObtenerDepartamentoPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_ObtenerTodosLosDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosLosDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_ObtenerTodosLosDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosLosDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_ObtenerDepartamentosActivos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentosActivos" />
  </wsdl:message>
  <wsdl:message name="IServicioDepartamento_ObtenerDepartamentosActivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentosActivosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioDepartamento">
    <wsdl:operation name="InsertarDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDepartamento/InsertarDepartamento" message="tns:IServicioDepartamento_InsertarDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDepartamento/InsertarDepartamentoResponse" message="tns:IServicioDepartamento_InsertarDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDepartamento/ActualizarDepartamento" message="tns:IServicioDepartamento_ActualizarDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDepartamento/ActualizarDepartamentoResponse" message="tns:IServicioDepartamento_ActualizarDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarEstadoDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDepartamento/CambiarEstadoDepartamento" message="tns:IServicioDepartamento_CambiarEstadoDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDepartamento/CambiarEstadoDepartamentoResponse" message="tns:IServicioDepartamento_CambiarEstadoDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentoPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDepartamento/ObtenerDepartamentoPorId" message="tns:IServicioDepartamento_ObtenerDepartamentoPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDepartamento/ObtenerDepartamentoPorIdResponse" message="tns:IServicioDepartamento_ObtenerDepartamentoPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosLosDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDepartamento/ObtenerTodosLosDepartamentos" message="tns:IServicioDepartamento_ObtenerTodosLosDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDepartamento/ObtenerTodosLosDepartamentosResponse" message="tns:IServicioDepartamento_ObtenerTodosLosDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentosActivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDepartamento/ObtenerDepartamentosActivos" message="tns:IServicioDepartamento_ObtenerDepartamentosActivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDepartamento/ObtenerDepartamentosActivosResponse" message="tns:IServicioDepartamento_ObtenerDepartamentosActivos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioDepartamento" type="tns:IServicioDepartamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarDepartamento">
      <soap:operation soapAction="http://tempuri.org/IServicioDepartamento/InsertarDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDepartamento">
      <soap:operation soapAction="http://tempuri.org/IServicioDepartamento/ActualizarDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarEstadoDepartamento">
      <soap:operation soapAction="http://tempuri.org/IServicioDepartamento/CambiarEstadoDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentoPorId">
      <soap:operation soapAction="http://tempuri.org/IServicioDepartamento/ObtenerDepartamentoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosLosDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IServicioDepartamento/ObtenerTodosLosDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentosActivos">
      <soap:operation soapAction="http://tempuri.org/IServicioDepartamento/ObtenerDepartamentosActivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioDepartamento">
    <wsdl:port name="BasicHttpBinding_IServicioDepartamento" binding="tns:BasicHttpBinding_IServicioDepartamento">
      <soap:address location="http://localhost:64299/ServicioDepartamento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>