PerfilesSA.Web/Connected Services/ServiceReference1/ServicioEmpleado1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64299/ServicioEmpleado.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="AntiguedadAnios" type="xs:int" />
          <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Edad" type="xs:int" />
          <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdDepartamento" type="xs:int" />
          <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
          <xs:element minOccurs="0" name="NIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NombreDepartamento" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="DPI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
  <xs:complexType name="RespuestaServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdGenerado" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaServicio" nillable="true" type="tns:RespuestaServicio" />
  <xs:complexType name="ArrayOfEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleado" nillable="true" type="tns:Empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleado" nillable="true" type="tns:ArrayOfEmpleado" />
</xs:schema>