PerfilesSA.Web/Connected Services/ServiceReference1/ServicioEmpleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioEmpleado" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64299/ServicioEmpleado.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64299/ServicioEmpleado.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64299/ServicioEmpleado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PerfilesSA.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioEmpleado_InsertarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_InsertarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ActualizarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ActualizarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_CambiarEstadoEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstadoEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_CambiarEstadoEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstadoEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ObtenerEmpleadoPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadoPorId" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ObtenerEmpleadoPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ObtenerTodosLosEmpleados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosLosEmpleados" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ObtenerTodosLosEmpleados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosLosEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ObtenerReporteEmpleados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReporteEmpleados" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ObtenerReporteEmpleados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReporteEmpleadosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioEmpleado">
    <wsdl:operation name="InsertarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/InsertarEmpleado" message="tns:IServicioEmpleado_InsertarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/InsertarEmpleadoResponse" message="tns:IServicioEmpleado_InsertarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/ActualizarEmpleado" message="tns:IServicioEmpleado_ActualizarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/ActualizarEmpleadoResponse" message="tns:IServicioEmpleado_ActualizarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarEstadoEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/CambiarEstadoEmpleado" message="tns:IServicioEmpleado_CambiarEstadoEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/CambiarEstadoEmpleadoResponse" message="tns:IServicioEmpleado_CambiarEstadoEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleadoPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/ObtenerEmpleadoPorId" message="tns:IServicioEmpleado_ObtenerEmpleadoPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/ObtenerEmpleadoPorIdResponse" message="tns:IServicioEmpleado_ObtenerEmpleadoPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosLosEmpleados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/ObtenerTodosLosEmpleados" message="tns:IServicioEmpleado_ObtenerTodosLosEmpleados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/ObtenerTodosLosEmpleadosResponse" message="tns:IServicioEmpleado_ObtenerTodosLosEmpleados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporteEmpleados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/ObtenerReporteEmpleados" message="tns:IServicioEmpleado_ObtenerReporteEmpleados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/ObtenerReporteEmpleadosResponse" message="tns:IServicioEmpleado_ObtenerReporteEmpleados_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioEmpleado" type="tns:IServicioEmpleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/InsertarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/ActualizarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarEstadoEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/CambiarEstadoEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleadoPorId">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/ObtenerEmpleadoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosLosEmpleados">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/ObtenerTodosLosEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporteEmpleados">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/ObtenerReporteEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEmpleado">
    <wsdl:port name="BasicHttpBinding_IServicioEmpleado" binding="tns:BasicHttpBinding_IServicioEmpleado">
      <soap:address location="http://localhost:64299/ServicioEmpleado.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>